@use '../../utils' as *;

/*----------------------------------------*/
/*  6.1 menu css
/*----------------------------------------*/

.#{$theme-prifix}-main{
  &-menu{
    text-align: right;
    &-01{
      & nav{
        & ul{
          & li{
            & .submenu {
              @media #{$x4l,$x3l,$xxl,$xl,$lg} {
                left: inherit;
                right: 0;
              }
            }
          }
        }
      }
    }
    & nav{
      & ul{
        & li{
          list-style: none;
          display: inline-block;
          margin-left: 50px;
          position: relative;
          @media #{$x3l,$xxl,$xl,$lg} {
            margin-left: 30px;
          }
          &:hover > .submenu {
            visibility: visible;
            opacity: 1;
            transform: scaleY(1);
          }
          a{
            font-weight: 600;
            padding: 34px 0;
            display: inline-block;
            text-transform: capitalize;
            &:hover{
              opacity: 0.7;
            }
          }
        }
        & .submenu {
          text-align: left;
          position: absolute;
          top: 100%;
          left: 0;
          min-width: 220px;
          background: var(--td-common-white);
          z-index: 99;
          visibility: hidden;
          opacity: 0;
          transform-origin: top center;
          padding: 25px 0 5px;
          background: var(--td-common-white);
          transform: scaleY(0);
          box-shadow: 0px 20px 30px rgba(3, 4, 28, 0.1);
          transition: all 0.3s ease-out 0s;
          padding-bottom: 13px;
          & li {
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
            transform: translateY(-10px);
            &:hover > a {
              color: var(--td-theme-primary);
              padding-left: 43px;
            }
            &:hover > a::before {
              width: 12px;
            }
            & a {
              position: relative;
              z-index: 11;
              padding: 10px 25px;
              padding-bottom: 1px;
              width: 100%;
              &::before {
                position: absolute;
                content: "";
                left: 25px;
                top: 61%;
                transform: translateY(-50%);
                transition: all 0.3s ease-out 0s;
                width: 0;
                height: 1px;
                background-color: var(--td-theme-primary);
              }
            }
          }
        }
      }
    }
    &-2{
      & nav{
        & ul{
          & li{
            & a{
              position: relative;
              padding: 28px 0;
              &::before{
                position: absolute;
                content: "";
                height: 2px;
                width: 0;
                background: var(--td-theme-primary);
                bottom: 30px;
                left: 0;
                @include transition(all .4s ease);
              }
              &:hover{
                &::before{
                  width: 100%;
                }
                color: var(--td-theme-primary);
                opacity: 1;
              }
            }
          }
        }
      }
    }
    &-3{
      text-align: left;
      margin-left: 15px;
      & nav{
        & ul{
          & li{
            margin-left: 55px;
            & a{
              position: relative;
              padding: 28px 0;
              color: var(--td-common-white);
              font-weight: 600;
              font-size: 16px;
              padding: 34px 0;
              &::before{
                position: absolute;
                content: "";
                height: 2px;
                width: 0;
                background: var(--td-common-line);
                bottom: 35px;
                left: 0;
                @include transition(all .4s ease);
                opacity: 0.6;
              }
              &:hover{
                &::before{
                  width: 100%;
                }
                color: var(--td-common-white);
                opacity: 1;
              }
            }
          }
          & .submenu {
            & li{
              & a{
                color: var(--td-theme-primary);
              }
            }
          }
        }
      } 
    }
    &-4{
      margin-right: 75px;
      @media #{$xl,$lg} {
        margin-right: 0;
      }
      & nav{
        & ul{
          & li{
            & a{
              color: var(--td-common-white);
              &::before{
                opacity: 0.2;
                background: var(--td-common-white);
              }
              &:hover{
                opacity: .6;
                color: var(--td-common-white);
              }
            }
          }
          & .submenu li a {
            color: var(--td-theme-primary);
          }
        }
      }
    }
    &-5{
      text-align: left;
      & nav{
        margin-left: 40px;
        & ul{
          & li{
            margin-left: 0;
            margin-right: 50px;
            & a{
              padding: 27px 0;
            }
          }
        }
      }
    }
  }
}