@use '../utils' as *;

/*----------------------------------------*/
/*  2.2 bg-stylees
/*----------------------------------------*/

.td-grey-bg{
    background: #F5F9FF;
}
.td-grey-bg-2{
    background: #eaf1fb;
}
.td-black-bg{
    background: #223035;
}
.td-black-bg-2{
    background: #20282d;
}