@use '../utils' as *;

/*----------------------------------------*/
/*  2.10 Section Title
/*----------------------------------------*/

.#{$theme-prifix}-section{
    &-title{
        font-weight: 500;
        font-size: 64px;
        line-height: 1.16;
        @media #{$xl} {
            font-size: 60px;
          }
        @media #{$lg,$md,$sm} {
            font-size: 50px;
            & br{
                display: none;
            }
        }
        @media #{$xs} {
            font-size: 40px;
            & br{
                display: none;
            }
        }
        &-pre{
            color: var(--td-grey-2);
            display: inline-block;
        }
    }
}
.td-white{
    color: var(--td-common-white);
}
.td-gray{
    color: #bfccd1;
}